@import 'bootstrap-sprockets';
@import 'bootstrap';

$light-gray: #777;
$gray-medium-light: #eaeaea;
$grey-medium-light: #b3b3b3;
$deep-orange: #ab4506;
$border-color: #bbb;
$nav-color: #333;

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

header, footer {
  background-color: $grey-medium-light;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: $deep-orange;
  font-size: 16px;
  background-color: transparent;
}

.navbar-inverse .navbar-nav > li > a {
  color: black;
}

.container-fluid {
  background-color: $grey-medium-light;
}

.navbar {
  margin-bottom: 0;
  background: white;
  border: none;
}

.navbar-toggle {
  background-color: $nav-color;
}

.jumbotron {
  margin: 20px 0 50px;
  background-image: url(jumbotronbackground.jpg);
  background-position: 0% 25%;
  background-size: cover;
  color: white;
  text-shadow: black 0.3em 0.3em 0.3em;
  height: 500px;
}

footer {
  left: 0;
  bottom: 0;
  margin-top: 50px;
  width: 100%;
  color: white;
  text-align: center;
}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin: 0 0 3px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

input, textarea, .uneditable-input {
  border: 1px solid $border-color;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}
select, .selected {
  border: 1px solid $border-color;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
  height: 35px;
  border-radius: 2px;
}
input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
